<h1>Cargar Producto</h1>
<form action="/productos" method="POST">
    Title: <input type="text" name="title" /> Price:
    <input type="number" name="price" /> Thumbnail:
    <input type="text" name="thumbnail" />
    <button>Enviar</button>
</form>
<a href="/productos">
   <button>Ver productos</button>
</a>