<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>

{{#if mensajes.length}}

    <div class=" py-3 px-5 rounded text-white bg-dark">
    {{#each mensajes}}
    <p class="d-inline text-primary bolder">{{this.email}}</p> <p class="d-inline hora">[{{this.hora}}]</p>: <p class="d-inline italica text-success">{{this.mensaje}}</p>
    <br>
    {{/each}}
    </div>
{{ else }}
    <h3 class="alert alert-warning">No hay mensajes</h3>
{{/if}}

