<h2 style="color: crimson">Historial</h2>
<% const hayProductos = productos.length > 0; %> <%
if(hayProductos){ %>

    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;">
                <th>Item</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            <% for (const producto of productos) {%>
            <tr>
                <td>
                    <%=producto.title%>
                </td>
                <td>
                    <%=producto.price%>
                </td>
                <td>
                    <img src=<%=producto.thumbnail%> style="max-width: 50px;">
                </td>
            </tr>
            <%};%>
        </table>
    </div>
    <% } else{ %>
    <h3 class="alert alert-danger">no se encontraron datos</h1>
        <% } %>
<a href="/">
    <button class="btn btn-primary">Formulario</button>
</a>