extends layout

block cargarProducto
    h1 Cargar Producto
    form(action="/productos" method="POST")
        label(for="title") title 
        input(type="text" name="title")
        label(for="price") price
        input(type="number" name="price")
        label(for="thumbnail") thumbnail
        input(type="text" name="thumbnail")
        button Enviar
    a(href="/productos")
        button Ver productos 
    // el guión permite definir variables
    // el simbolo != permite insertar html parseado en lugar del string literal contenido en la variable
    